body, html{
width: 100%;
overflow-x: hidden;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
 body{
font-family: monospace;
font-size: 16px;
background-color: black;
 }
ul {
    list-style-type: none;
    float: right;
    padding: 0px;
    margin: 0px;
  }
  
  li {
   display: inline-block    ;
   margin-left: 30px;

  }
  header{    
  background-color: black;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: green;
  padding: 1rem;
  }

nav {
   width: 100%;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: end;
   color: rgb(255, 255, 255)
}

  .logo{
      
      float: left;
      font-style: bold;
      font-family: monospace;
      color: green;
      font-size: 36px;
      
       }

.wrapper{
 display: flex;
 padding: 1rem;
 }

.image-container marquee img {
margin-left: 0;
}

.text-container{
  max-width: 75%;
  width: 100%;
  padding-left: 20px;
}


p {
  font-size: 16px;
  font-family: monospace;
  display: flex;
  line-height: 30px;
  color: rgb(24, 170, 214)
} 
h1{

color: rgb(255, 255, 255);
font-size: 24px;
font-family: monospace;
padding-top: 50px;

}

footer{
background-color: rgba(255, 255, 255, 0);
font-size: 24px;
font-family: monospace;
align-items: center;
color:yellow


}
h1{

font-size: 36px;
font-style: bold;
color:green;
margin-top: 50px;
} 
p{
  font-size: 16px 
}
 a{
  color:rgb(255, 255, 255);
  text-decoration: none;
}

.footer-text{
  color:orange
} 
.footer-icons{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 100px;
  margin: 1rem auto;
  color: white;
}
.footer-terms{
  color: white;
  font-size: 16px;
  text-align: center;
}